export(fips)
export(CDLexists)
export(cdl.updateNames.data.frame)
export(countyFIPS)
export(stateFIPS)
export(fips)
export(getCDL_bbox)
export(getCDL_fips)
export(getCensusEdgeData)
export(matchCount)
export(getNames)

useDynLib(cdlTools)

