export(updateNamesCDL)
export(fips)
export(getCDL)
export(matchCount)



importFrom("utils", "data", "download.file")
importFrom("raster", "raster","values")
importFrom("XML","xmlToDataFrame")

useDynLib(cdlTools)

